body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

:root {
    --primary-color: #FF7500;
}

.primary-color {
    background-color: var(--primary-color);
}

.primary-text {
    color: var(--primary-color);
} 